/* .md-header__button.md-logo :-webkit-any(img,svg) {
    height: 2rem;
    width: auto;
} */


/* .md-typeset h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin: 0 0 0.75em;
} */

/* Homepage */
body > div.md-container > main > div > div.md-content > article > div.grid.cards {
    grid-gap: 0.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    margin: 1em 0;
}

body > div.md-container > main > div > div.md-content > article > div.grid.cards > li {
    border: 0.05rem solid var(--md-default-fg-color--lightest);
    border-radius: 0.1rem;
    display: block;
    margin: 0;
    padding: 0.8rem;
    -webkit-transition: border .25s,box-shadow .25s;
    transition: border .25s,box-shadow .25s;
}

.text-center {
    text-align: center !important;
}

/* .md-content__inner {
    margin-bottom: 0;
    padding: 5.2rem 0;
    margin: 0 0.8rem 1.2rem;
} */

.md-content header {
    display: block;
    transition: opacity .75s;
}

.mdx-users {
    display: flex;
    gap: 3.2rem;
    margin: 2.4rem 0;
}


.mdx-users__testimonial {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1.2rem;
    margin: 0;
    text-align: center;
}

.mdx-users__testimonial:first-child {
    transition-delay: .2s;
}

.mdx-users__testimonial figcaption, .mdx-users__testimonial img {
    transition: transform .75s cubic-bezier(.075,.85,.175,1),opacity .75s;
    transition-delay: inherit;
}

.mdx-users__testimonial img {
    border-radius: 5rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 10rem;
}

.mdx-users__testimonial figcaption {
    display: block;
}

.md-typeset h2 {
    font-weight: 700;
    font-size: 1.5625em;
    line-height: 1.4;
    margin: 0.64em 0 0.20em;
    font-style: normal;
}

.md-typeset h3 {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: -.01em;
    line-height: 1.5;
    margin: 0.8em 0 0.8em;
    font-style: normal;
}

.mdx-users__testimonial hr {
    margin-left: auto;
    margin-right: auto;
    margin: 0.5em 0;
}

@media screen and (max-width: 35em) {
    /* .mdx-users {
        flex-direction: column;
    } */
    /* .mdx-users__testimonial img {
        width: 5rem;
    } */
    .md-typeset h2 {
        font-size: 0.8em;
    }
    .md-typeset h3 {
        font-size: 0.6em;
    }
    .mdx-users {
        gap: 1rem;
    }
}

