/* .md-header__button.md-logo :-webkit-any(img,svg) {
    height: 2rem;
    width: auto;
} */


/* .md-typeset h1 {
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    margin: 0 0 0.75em;
} */

/* Homepage */
body > div.md-container > main > div > div.md-content > article > div.grid.cards {
    grid-gap: 0.4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    margin: 1em 0;
}

body > div.md-container > main > div > div.md-content > article > div.grid.cards > li {
    border: 0.05rem solid var(--md-default-fg-color--lightest);
    border-radius: 0.1rem;
    display: block;
    margin: 0;
    padding: 0.8rem;
    -webkit-transition: border .25s,box-shadow .25s;
    transition: border .25s,box-shadow .25s;
}

.text-center {
    text-align: center !important;
}

/* @media screen and (min-width: 76.1875em){
    body > div.md-container > main > div > div.md-sidebar.md-sidebar--primary{
        display: none;
    }
}

@media screen and (min-width: 32em){

    body > div.md-container > main > div > div.md-content > article > div.grid.cards{
        grid-gap: 0.4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
        margin: 1em 0;
    }
} */

